.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.footer-main-container {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el borde superior */
}
.icons {
    color: black;
    font-size: 25px;
    margin-left: 25px;
}
.icons-container {
    gap: 10px;
}
.footer-image {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: auto;
  }
.footer-button {
    background-color: #D95383;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    border: none;
}
.footer-logo1 {
    font-size: 29px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: rgb(59, 59, 59);
    margin-top: -20px;
    margin-bottom: 0px;
}
.footer-logo {
    font-size: 29px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: rgb(59, 59, 59);
    margin-top: -20px;
}