
.post-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.post-details-card {
    position: relative;
    width: 75%;
    margin-top: 0px;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.253);
    margin-bottom: 2rem;
}



.post-details-card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.post-details-card-img:hover {
    transform: scale(1.1); 
    opacity: 0.8;
}
.post-details-card-body {
    padding: 15px;
}

.post-details-list {
    list-style-type: disc;
    padding-left: 20px;
}

.post-details-list li {
    margin-bottom: 10px;
}

.contact-button {
    margin-top: 20px;
    background-color: #D95383;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 300ms ease-out;
}

.contact-button:hover{
    background-color: #D95383 !important;
    transform: scale(1.1);
}


.details__center{
    display: flex;
    justify-content: center;
    align-items: center;
}