.register__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #F9F3EC;
  position: relative;
}
.register__content__create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #F9F3EC;
  position: relative;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 34%;
  max-width: 800px;
  border: 1px solid #41403e3f;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff65;
  color: #41403E;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  z-index: 10;
  position: relative;
}

.register__form__add__post {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  border: 1px solid #41403e3f;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff65;
  color: #41403E;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.178);
  z-index: 10;
  position: relative;
}

.register__title {
  text-align: start;
  margin-bottom: 20px;
  font-size: 35px !important;
  font-family: 'Kanit', sans-serif;
}

.register__label {
  text-align: left;
  padding: 5px;
  margin: 3px 0;
  font-size: 14px;
}

.register__input {
  padding: 8px;
  border-radius: 5px;
  border: 0.5px solid #41403e3f;
  width: 100%;
  margin-bottom: 4px;
}

.register__input:focus {
  outline: none;
  border: 1px solid #DEAD6F;
}

.register__button {
  max-width: 190px;
  padding: 15px 30px;
  color: #fff;
  background-color: #D95383;
  border-radius: 5px;
  border: none;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.178);
  cursor: pointer;
  transition: all 300ms ease-in;
  font-family: 'Kanit', sans-serif;
  margin-bottom: 9px;
}

.register__button:hover {
  background-color: #C74370;
  border: 1px solid #fff;
  transform: scale(1.1);
}

.container-button {
  display: flex;
  justify-content: end;
}

.button-container {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.register__link-cuenta {
  text-align: end;
  padding: 0;
  margin-bottom: 0;
  color: #D95383;
}

.register__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -30px;
}

.register__img__portada {
  max-width: 100%;
  height: auto;
}

@media (max-width: 968px) {
  .register__img {
    display: none;
  }

  .register__form {
    width: 90%;
    max-width: 400px;
  }
}
@media (max-width: 468px) {
  .register__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #F9F3EC;
    position: relative;
}
}
