.user-posts-container {
  padding: 20px;
  background-color: #F9F3EC;
  font-family: 'Quicksand', sans-serif;
  width: 80%;
  margin: auto;
  padding-bottom: 4rem !important;
}

.user-posts-main-container {
  background-color: #F9F3EC;
  margin-top: -40px;
  padding-bottom: 40px;
}

.user-post-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 270px; 
}

.user-post-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 130px; 
  object-fit: cover;
  padding: 5px 5px;
}

.user-post-card-body {
  padding: 10px;
  text-align: center;
}

.item-card {
  padding: 0 !important;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .user-posts-container {
    width: 95%;
  }

  .user-post-card {
    height: auto; 
  }

  .user-post-card-body {
    padding: 15px;
  }

  .user-post-card-img {
    height: 150px; 
  }
  .register__content__create {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 140vh;
        background-color: #F9F3EC;
        position: relative;
  }
  
}

@media (max-width: 468px) {
  .register__content__create {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        background-color: #F9F3EC;
        position: relative;
  }
}
